@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated-gradient {
  background: linear-gradient(90deg, #4facfe, #00f2fe, #43e97b);
  background-size: 300% 300%;
  animation: gradient-animation 6s ease infinite;
}


body {
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;
}



/* Для темной темы */
.dark {
  --text-color: white;
  --background-color: white;
}

/* Для светлой темы */
.light {
  --text-color: black;
  --background-color: white;
}

/* Применение переменных */
body {
  color: var(--text-color);
  background-color: var(--background-color);
}
